# Site
name: "My Oeuvre"
title: "My Oeuvre"
#description: "Writes about fictitious reality"
logo: './assets/images/logo.png'
favicon: './assets/images/logo.png'
baseurl: ''
google_analytics: 'G-XKJSG9B26H'
#disqus: 'demowebsite'
mailchimp-list: 'https://mailchi.mp/cadfb46bda99/oeuvre-newsletter'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  Reluctant Writer:
    name: Reluctant Writer
    display_name: Reluctant Writer
    #gravatar: e56154546cf4be74e393c62d1ae9f9d4
    avatar: 'assets/images/avatar_rw.png'
    email: writer.reluctant@gmail.com
    web: https://www.myoeuvre.in
    description: "Writes about fictitious reality."    
    medium: https://medium.com/@writer.reluctant

  Canvas-Caravan:
    name: Canvas Caravan
    display_name: Canvas Caravan    
    avatar: 'assets/images/avatar_cc.png'
    web: https://www.myoeuvre.in
    description: "Journey from Loneliness to Solitude"
    quote: अकेलेपन से एकांत का सफ़र
  
# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]

collections:
  photos:
    output: true

# plugins:
#   - jekyll-gallery-generator
